@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.personalinfo {
  background-color: white;
  width: 100%;
  height: 100%;
  color: $Marine-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mobile {
    border-radius: 15px;
  }

  &_heading {
    font-family: "Ubuntu-bold";
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 70%;
    text-align: left;
  }
  &_para {
    font-family: "Ubuntu-Medium";
    margin-bottom: 1rem;
    color: $Light-gray;
    width: 70%;
    line-height: 1.5;
    text-align: left;
  }
  &_info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 70%;
    section {
      display: flex;
      flex-direction: column;
      gap: 1em;

      label {
        font-family: "Ubuntu-Medium";
        text-align: left;
        display: flex;
        justify-content: space-between;
      }
      input {
        height: 40px;
        border: 0.1px solid $Light-gray;
        border-radius: 10px;
        padding-left: 20px;
        cursor: pointer;
        outline: none;
        font-family: Ubuntu-Medium;
        color:$Bluish-grey;
        font-size: 18px;
    
        &:focus {
          border: 0.1px solid $Purplish-blue;
       
        }
        &::placeholder{
          color:$Cool-gray;
          font-family: Ubuntu-Medium;
          font-size: 17px;
        }
      }

      .activeRedInput {
        border: 0.1px solid $Strawberry-red;
      }
      .activeRed {
        color: $Strawberry-red;
        text-align: end;
        font-family: Ubuntu-bold;
      }
    }
  }
}
