.button{
    display:flex;
    justify-content: space-between;
 //background-color: #9a2020;
 width:50%;
    button{
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}