.button{
    display:flex;
    width:60vw;
    margin:auto;
    justify-content: space-between;

  //background-color: #9a2020;
    button{
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}