@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
.finishup { 
  height: 100%;
  background-color: white;
  padding:0 2rem;
  &__upper {
    max-width: 80%;
    margin: auto;
    margin-bottom: 1em;
    padding-top: 2em;
    h1 {
      font-family: Ubuntu-bold;
      text-align: left;
      color: $Bluish-grey;
      margin-bottom:1rem;
    }
    .description {
      font-family: Ubuntu-regular;
      color: $Light-grey;
      text-align: left;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    background-color: #c0bcbc2b;
    max-width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 4rem;;
    padding:1em;
    border-radius: 10px;
  
    .horizontal--line {
      border: 0;
      border-top: 1px solid rgb(209, 204, 204);
      width: 100%; /* Adjust width as needed */
    }
    &__article {
      font-family: Ubuntu-regular;
      color: $Light-grey;
      display: flex;
      justify-content: space-between;
      font-size: 18px;

      .custom {
        color: $Bluish-grey;
        font-family: Ubuntu-bold;
        font-size: 18px;
      }
    }
  }
  &__article {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    color:$Light-grey;
    &__total{
      color:rgb(80, 51, 224);
      font-family: Ubuntu-bold;
        font-size: 20px;
    }
  }
}
