@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles//partials/mixins.scss" as *;
.thankyou{
    width:70%;
    margin:auto;
    text-align: center;
    box-shadow: 1px 1px 6px 7px rgb(190, 185, 185);
    padding:1em;
    &__section{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:1em;
        img{
            width:20%;
        }
        h2{
            font-family: Ubuntu-bold;
        }
        p{
            color:$Light-grey;
        }
    }
}