@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles//partials/mixins.scss" as *;
.addons {
  height: 100%;
  background-color: white;
  @include mobile {
    border-radius: 15px;
    padding-top: 32px;
  }

  &__plan {
    font-family: "Ubuntu-bold";
    margin-bottom: 1rem;
    padding-top: 5rem;
    padding-left: 5rem;
    text-align: left;
    color:$Marine-blue;
    @include mobile {
      padding-left:0;
      width:85%;
      margin:auto;
      padding-top: 0;
      font-size: 28px;
      margin-bottom: .2em;
    }
  }
  &__moyr {
    font-family: Ubuntu-Medium;
    color: $Light-grey;
    margin-bottom: 3rem;
    padding-left: 5rem;
    text-align: left;
    @include mobile {
      width:85%;
      margin:auto;
      padding-left: 0rem;
   font-size: 13px;
   margin-bottom: 12px;
    }
  }
  &_options {
    display: flex;
    justify-content: space-between;
    gap:1em;
    margin-bottom: 1rem;
    padding:0 5rem;
    @include mobile {
      flex-direction: column;
      gap: 2rem;
      padding:0;
    }
    section {
      height: 15rem;
      width: 23%;
      padding-left: 1.2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      border-radius: 10px;
      &:hover{
        border: 1px solid $Pastel-blue;
        cursor: pointer;
      }
      @include mobile {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;
        width: 80%;
        height: auto;
        margin: auto;
        padding: 1.124rem;
      }

      .option {
        display: flex;
        flex-direction: column;
        gap:.3rem;
        h3 {
          font-family: Ubuntu-Regular;
          font-size: 18px;
          text-align: left;
          @include mobile {
            text-align: left;
          }
        }
        p {
          color: $Light-grey;
          font-size: 18px;
          text-align: left;
          @include mobile {
            text-align: left;
          }
        }
      }
    }
    &_clicked {
      border: 1px solid $Pastel-blue;
      background-color: $Alabaster;
    }
    &_unclicked {
      border: 1px solid $Light-grey;
    }
  }
  .slider {
    background-color:$Alabaster;
    width: 70%;
    margin: auto auto;
    margin-top: 2rem;
    border-radius: 5px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    &__div{
.timechecked{
  color:$Marine-blue;
  font-family:Ubuntu-bold;
}
.timeunchecked{
  color:$Light-grey;
  font-family:Ubuntu-bold;
}
    }
    @include mobile{
      width:80%;
    }
  }
}
