.home {
    background-color: aliceblue;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
&__first{
    display:flex;
    justify-content: center;
   
}
}
