.home {
  background-color: aliceblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__first {
    display: flex;
    justify-content: center;
    &--steps {
      position: relative;
    }
  }
  &__second {
    width:37%;
    position:absolute;
    left:40%;
    top:70%;
  }
}
