@use "./styles/partials/mixins.scss" as *;
@use "./styles/partials/variables.scss" as *;
.App {
  text-align: center;
  min-height: 100vh;
  background-color: $Magnolia;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mobile{
    align-items: flex-start;
    min-height: 75vh;
  }
}
