@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.progressbar {
  flex: 0.4;
 
  &_container {
    background: url("../../assets/images/bg-sidebar-desktop.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile {
      background: url("../../assets/images/bg-sidebar-mobile.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
    }
    
    &_div {
      display: flex;
      align-items: center;
      gap: 1em;
      width: 167px;
      margin-top: 3em;
      @include mobile {
        margin: 0;
        width: 10%;
      }
      .steps {
        flex: 1;
        &_number {
          font-family: Ubuntu-regular;
          color: rgba(221, 217, 217, 0.671);
          text-transform: uppercase;
          font-size: 13px;
          text-align: justify;
        }
        .capital {
          font-family: Ubuntu-Medium;
          color: white;
          text-align: justify;
        }
        @include mobile {
          display: none;
        }
      }
      .unfill {
        border: 1px solid white;
        padding: 0.5rem;
        width: 14%;
        border-radius: 50%;
        text-align: center;
        color: white;
        @include mobile {
          width: 50%;
        }
      }
      .fill {
        background-color: rgb(133, 224, 240);
        color: black;
        border: 0cap;
      }
    }
  }
}
